## NBA Player Value in relation to Win-Shares and Salary

In [41]:
#import required packages
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Create df from csv

In [42]:
#creating player stats df from csv
df = pd.read_csv('nba_player_stats.csv')

In [43]:
print(df)

     Unnamed: 0   Rk                  Player  Pos  Age   Tm   G    MP   PER  \
0             0    1            Alex Abrines   SG   25  OKC  31   588   6.3
1             1    2              Quincy Acy   PF   28  PHO  10   123   2.9
2             2    3            Jaylen Adams   PG   22  ATL  19   181   9.6
3             3    4            Steven Adams    C   25  OKC  64  2167  19.0
4             4    5             Bam Adebayo    C   21  MIA  65  1448  17.1
5             5    6               Deng Adel   SF   21  CLE  12   158   2.2
6             6    7  DeVaughn Akoon-Purcell   SG   25  DEN   7    22   8.3
7             7    8       LaMarcus Aldridge    C   33  SAS  65  2132  22.5
8             8    9            Rawle Alkins   SG   21  CHI   3     6  37.9
9             9   10           Grayson Allen   SG   23  UTA  30   290   4.1
10           10   11           Jarrett Allen    C   20  BRK  66  1760  19.0
11           11   12            Kadeem Allen   SG   26  NYK  10   225  17.2
12           12   13         Al-Farouq Aminu   PF   28  POR  66  1911  13.2
13           13   14         Justin Anderson   SF   25  ATL  36   277   7.7
14           14   15           Kyle Anderson   SF   25  MEM  43  1281  12.9
15           15   16           Ryan Anderson   PF   30  TOT  19   294   5.1
16           16   16           Ryan Anderson   PF   30  PHO  15   278   4.6
17           17   16           Ryan Anderson   PF   30  MIA   4    16  13.4
18           18   17            Ike Anigbogu    C   20  IND   3     6  -6.0
19           19   18   Giannis Antetokounmpo   PF   24  MIL  61  2012  30.2
20           20   19         Carmelo Anthony   PF   34  HOU  10   294  11.0
21           21   20              OG Anunoby   SF   21  TOR  55  1121   9.7
22           22   Rk                  Player  Pos  Age   Tm   G    MP   PER
23           23   21        Ryan Arcidiacono   PG   24  CHI  66  1624  10.7
24           24   22            Trevor Ariza   SF   33  TOT  62  2188  12.2
25           25   22            Trevor Ariza   SF   33  PHO  26   884  10.5
26           26   22            Trevor Ariza   SF   33  WAS  36  1304  13.4
27           27   23           D.J. Augustin   PG   31  ORL  66  1819  15.6
28           28   24           Deandre Ayton    C   20  PHO  61  1886  21.0
29           29   25            Dwayne Bacon   SG   23  CHO  27   309  11.0
..          ...  ...                     ...  ...  ...  ...  ..   ...   ...
661         661  488       Russell Westbrook   PG   30  OKC  58  2075  20.8
662         662  489           Derrick White   PG   24  SAS  51  1307  15.3
663         663  490             Okaro White   PF   26  WAS   3     6  -4.5
664         664  491        Hassan Whiteside    C   29  MIA  56  1405  22.6
665         665  492          Andrew Wiggins   SF   23  MIN  59  2053  11.9
666         666  493           Alan Williams   PF   26  BRK   3    17  25.0
667         667  494           C.J. Williams   SG   28  MIN   9    67   2.1
668         668  495      Johnathan Williams    C   23  LAL   9   133  13.6
669         669  496        Kenrich Williams   SF   24  NOP  32   670   9.8
670         670  497            Lou Williams   SG   32  LAC  61  1620  21.7
671         671  498         Marvin Williams   PF   32  CHO  65  1874  13.0
672         672  499         Robert Williams    C   21  BOS  26   221  19.8
673         673  500           Troy Williams   SF   24  SAC  18   286  11.1
674         674   Rk                  Player  Pos  Age   Tm   G    MP   PER
675         675  501             D.J. Wilson   PF   22  MIL  34   575   9.8
676         676  502         Justise Winslow   PF   22  MIA  58  1729  13.1
677         677  503          Christian Wood   PF   23  MIL  13    62  17.3
678         678  504            Delon Wright   PG   26  TOT  60  1205  14.4
679         679  504            Delon Wright   PG   26  TOR  49   897  14.6
680         680  504            Delon Wright   PG   26  MEM  11   308  13.7
681         681  505      Guerschon Yabusele   PF   23  BOS  33   178  13.1
682         682  506              Nick Young   SG   33  DEN   4    37   2.4
683         683  507          Thaddeus Young   PF   30  IND  66  2016  16.6
684         684  508              Trae Young   PG   20  ATL  67  2061  15.9
685         685  509             Cody Zeller    C   26  CHO  49  1243  17.2
686         686  510            Tyler Zeller  F-C   29  ATL   1     7  -1.0
687         687  511              Ante Zizic    C   22  CLE  46   790  15.7
688         688  512             Ivica Zubac    C   21  TOT  44   731  18.8
689         689  512             Ivica Zubac    C   21  LAL  33   516  19.6
690         690  512             Ivica Zubac    C   21  LAC  11   215  16.8

      TS%  ...  Unnamed: 19   OWS  DWS    WS   WS/48 Unnamed: 24   OBPM  DBPM  \
0    .507  ...          NaN   0.1  0.6   0.7    .053         NaN   -2.4  -1.0
1    .379  ...          NaN  -0.1  0.1  -0.1  -0.020         NaN   -5.7  -0.2
2    .542  ...          NaN   0.1  0.1   0.2    .046         NaN   -1.7  -2.1
3    .604  ...          NaN   4.5  3.3   7.8    .173         NaN    0.9   2.0
4    .621  ...          NaN   2.6  2.3   4.9    .164         NaN   -0.7   3.3
5    .405  ...          NaN  -0.2  0.0  -0.2  -0.065         NaN   -5.4  -1.7
6    .322  ...          NaN  -0.1  0.0   0.0  -0.046         NaN   -4.3   0.6
7    .572  ...          NaN   4.9  2.0   6.9    .156         NaN    1.1   0.1
8    .375  ...          NaN   0.0  0.0   0.0    .354         NaN   20.0   7.3
9    .451  ...          NaN  -0.4  0.2  -0.2  -0.036         NaN   -4.7  -3.4
10   .630  ...          NaN   3.8  2.6   6.5    .176         NaN   -0.4   3.0
11   .578  ...          NaN   0.5  0.1   0.6    .137         NaN    1.2  -2.0
12   .578  ...          NaN   2.7  2.2   4.9    .124         NaN    0.2   0.9
13   .459  ...          NaN  -0.2  0.2   0.0  -0.008         NaN   -4.7  -0.9
14   .569  ...          NaN   0.8  2.0   2.9    .107         NaN   -2.1   3.5
15   .437  ...          NaN  -0.2  0.0  -0.2  -0.029         NaN   -4.1  -2.1
16   .423  ...          NaN  -0.2  0.0  -0.2  -0.036         NaN   -4.4  -2.0
17   .595  ...          NaN   0.0  0.0   0.0    .101         NaN    1.3  -3.9
18   .000  ...          NaN  -0.1  0.0  -0.1  -0.475         NaN  -22.6   8.6
19   .640  ...          NaN   7.1  4.8  11.9    .283         NaN    5.3   5.1
20   .513  ...          NaN   0.1  0.2   0.3    .041         NaN   -3.0  -3.2
21   .538  ...          NaN   0.4  1.3   1.6    .070         NaN   -1.2  -0.1
22    TS%  ...          NaN   OWS  DWS    WS   WS/48         NaN   OBPM  DBPM
23   .588  ...          NaN   2.1  0.9   3.0    .088         NaN   -0.3  -0.8
24   .537  ...          NaN   1.4  1.2   2.5    .056         NaN    0.1  -0.3
25   .525  ...          NaN   0.2  0.5   0.7    .037         NaN   -1.2   0.4
26   .543  ...          NaN   1.2  0.7   1.8    .068         NaN    0.9  -0.7
27   .631  ...          NaN   4.2  1.3   5.5    .145         NaN    1.8  -2.1
28   .616  ...          NaN   4.1  1.5   5.6    .142         NaN    0.5   0.3
29   .610  ...          NaN   0.3  0.1   0.5    .071         NaN   -1.8  -2.5
..    ...  ...          ...   ...  ...   ...     ...         ...    ...   ...
661  .499  ...          NaN   0.9  4.0   4.9    .114         NaN    2.0   3.9
662  .572  ...          NaN   1.5  1.4   2.9    .106         NaN    0.2   1.0
663  .000  ...          NaN   0.0  0.0   0.0  -0.251         NaN  -11.0  -8.2
664  .549  ...          NaN   1.5  3.2   4.8    .163         NaN   -2.6   3.0
665  .483  ...          NaN  -0.6  1.1   0.5    .012         NaN   -2.0  -1.2
666  .512  ...          NaN   0.0  0.0   0.1    .199         NaN   -1.9   0.7
667  .441  ...          NaN  -0.1  0.0  -0.1  -0.055         NaN   -5.1  -3.2
668  .557  ...          NaN   0.2  0.1   0.3    .126         NaN   -1.4  -0.6
669  .504  ...          NaN   0.2  0.6   0.8    .057         NaN   -1.2   0.3
670  .555  ...          NaN   3.4  1.0   4.4    .130         NaN    3.5  -2.5
671  .558  ...          NaN   2.1  1.7   3.8    .097         NaN    0.3   0.4
672  .740  ...          NaN   0.5  0.5   1.0    .213         NaN   -1.8   6.7
673  .550  ...          NaN   0.2  0.3   0.5    .080         NaN   -2.0   0.1
674   TS%  ...          NaN   OWS  DWS    WS   WS/48         NaN   OBPM  DBPM
675  .508  ...          NaN   0.1  1.0   1.0    .088         NaN   -2.9   1.4
676  .515  ...          NaN   0.5  2.1   2.6    .073         NaN   -0.8   0.7
677  .585  ...          NaN   0.1  0.1   0.2    .150         NaN   -3.3  -4.1
678  .521  ...          NaN   1.2  1.6   2.8    .112         NaN   -0.6   1.2
679  .527  ...          NaN   1.1  1.2   2.3    .121         NaN   -0.1   1.2
680  .505  ...          NaN   0.1  0.4   0.5    .084         NaN   -2.0   1.1
681  .530  ...          NaN   0.1  0.3   0.4    .098         NaN   -2.0   0.9
682  .500  ...          NaN   0.0  0.0   0.0  -0.019         NaN   -4.3  -2.7
683  .568  ...          NaN   2.7  3.3   6.0    .143         NaN    0.9   2.2
684  .534  ...          NaN   1.4  0.6   1.9    .045         NaN    1.0  -2.9
685  .611  ...          NaN   2.7  1.3   4.0    .153         NaN    0.4   1.7
686  .000  ...          NaN   0.0  0.0   0.0  -0.115         NaN  -10.4  -8.6
687  .579  ...          NaN   1.1  0.3   1.4    .083         NaN   -2.4  -1.4
688  .601  ...          NaN   1.3  0.9   2.2    .147         NaN   -1.6   0.7
689  .633  ...          NaN   1.2  0.6   1.8    .165         NaN   -1.2   0.2
690  .526  ...          NaN   0.1  0.3   0.5    .105         NaN   -2.7   2.0

       BPM  VORP
0     -3.4  -0.2
1     -5.9  -0.1
2     -3.7  -0.1
3      2.9   2.7
4      2.6   1.7
5     -7.2  -0.2
6     -3.7   0.0
7      1.2   1.7
8     27.4   0.0
9     -8.1  -0.4
10     2.7   2.1
11    -0.8   0.1
12     1.1   1.5
13    -5.6  -0.2
14     1.5   1.1
15    -6.2  -0.3
16    -6.4  -0.3
17    -2.6   0.0
18   -14.0   0.0
19    10.4   6.3
20    -6.2  -0.3
21    -1.3   0.2
22     BPM  VORP
23    -1.1   0.4
24    -0.2   1.0
25    -0.8   0.3
26     0.2   0.7
27    -0.3   0.8
28     0.9   1.4
29    -4.3  -0.2
..     ...   ...
661    6.0   4.2
662    1.2   1.1
663  -19.2   0.0
664    0.4   0.9
665   -3.2  -0.6
666   -1.2   0.0
667   -8.3  -0.1
668   -1.9   0.0
669   -0.9   0.2
670    1.0   1.2
671    0.6   1.2
672    5.0   0.4
673   -1.9   0.0
674    BPM  VORP
675   -1.6   0.1
676   -0.1   0.8
677   -7.3  -0.1
678    0.6   0.8
679    1.1   0.7
680   -0.9   0.1
681   -1.1   0.0
682   -7.0   0.0
683    3.1   2.6
684   -2.0   0.0
685    2.1   1.3
686  -19.0   0.0
687   -3.8  -0.4
688   -0.9   0.2
689   -1.0   0.1
690   -0.7   0.1

[691 rows x 30 columns]

In [44]:
df.head()

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,0,1,Alex Abrines,SG,25,OKC,31,588,6.3,.507,...,NaN,0.1,0.6,0.7,.053,NaN,-2.4,-1.0,-3.4,-0.2
1,1,2,Quincy Acy,PF,28,PHO,10,123,2.9,.379,...,NaN,-0.1,0.1,-0.1,-0.020,NaN,-5.7,-0.2,-5.9,-0.1
2,2,3,Jaylen Adams,PG,22,ATL,19,181,9.6,.542,...,NaN,0.1,0.1,0.2,.046,NaN,-1.7,-2.1,-3.7,-0.1
3,3,4,Steven Adams,C,25,OKC,64,2167,19.0,.604,...,NaN,4.5,3.3,7.8,.173,NaN,0.9,2.0,2.9,2.7
4,4,5,Bam Adebayo,C,21,MIA,65,1448,17.1,.621,...,NaN,2.6,2.3,4.9,.164,NaN,-0.7,3.3,2.6,1.7

In [45]:
#remove unnamed columns from basketball-reference.com table used for
# formatting purposes
df = df.drop(columns=['Unnamed: 0', 'Unnamed: 19', 'Unnamed: 24'])

In [46]:
df.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,1,Alex Abrines,SG,25,OKC,31,588,6.3,.507,.809,...,7.9,12.2,0.1,0.6,0.7,.053,-2.4,-1.0,-3.4,-0.2
1,2,Quincy Acy,PF,28,PHO,10,123,2.9,.379,.833,...,15.2,9.2,-0.1,0.1,-0.1,-0.020,-5.7,-0.2,-5.9,-0.1
2,3,Jaylen Adams,PG,22,ATL,19,181,9.6,.542,.750,...,19.7,13.7,0.1,0.1,0.2,.046,-1.7,-2.1,-3.7,-0.1
3,4,Steven Adams,C,25,OKC,64,2167,19.0,.604,.002,...,12.6,16.4,4.5,3.3,7.8,.173,0.9,2.0,2.9,2.7
4,5,Bam Adebayo,C,21,MIA,65,1448,17.1,.621,.029,...,17.8,15.3,2.6,2.3,4.9,.164,-0.7,3.3,2.6,1.7

In [47]:
#full definition of all columns can be found at https://www.basketball-reference.com/leagues/NBA_2019_advanced.html
list(df)

['Rk',
 'Player',
 'Pos',
 'Age',
 'Tm',
 'G',
 'MP',
 'PER',
 'TS%',
 '3PAr',
 'FTr',
 'ORB%',
 'DRB%',
 'TRB%',
 'AST%',
 'STL%',
 'BLK%',
 'TOV%',
 'USG%',
 'OWS',
 'DWS',
 'WS',
 'WS/48',
 'OBPM',
 'DBPM',
 'BPM',
 'VORP']

In [48]:
# print total missing values for each feature
print(df.isnull().sum())

Rk        0
Player    0
Pos       0
Age       0
Tm        0
G         0
MP        0
PER       0
TS%       6
3PAr      8
FTr       8
ORB%      0
DRB%      0
TRB%      0
AST%      0
STL%      0
BLK%      0
TOV%      6
USG%      0
OWS       0
DWS       0
WS        0
WS/48     0
OBPM      0
DBPM      0
BPM       0
VORP      0
dtype: int64

## Create df_contracts for NBA Player Contracts for 2018-2019 and extended

In [52]:
df_contracts = pd.read_csv(r'C:\Users\dudad\Documents\Data Science Career Track\Data Wrangling\player_contracts.csv', delimiter = ',')
print(df_contracts)

      Rk                           Player   Tm    2018-19    2019-20  \
0      1          Stephen Curry\curryst01  GSW  $37457154  $40231758
1      2              Chris Paul\paulch01  HOU  $35654150  $38506482
2      3      Russell Westbrook\westbru01  OKC  $35654150  $38178000
3      4           LeBron James\jamesle01  LAL  $35654150  $37436858
4      5          Blake Griffin\griffbl01  DET  $32088932  $34234964
5      6         Gordon Hayward\haywago01  BOS  $31214295  $32700690
6      7             Kyle Lowry\lowryky01  TOR  $31200000  $33296296
7      8            Paul George\georgpa01  OKC  $30560700  $33005556
8      9            Mike Conley\conlemi01  MEM  $30521116  $32511623
9     10           James Harden\hardeja01  HOU  $30431854  $37800000
10    11           Kevin Durant\duranke01  GSW  $30000000  $31500000
11    12           Paul Millsap\millspa01  DEN  $29730769  $30500000
12    13             Al Horford\horfoal01  BOS  $28928710  $30123015
13    14         Damian Lillard\lillada01  POR  $27977689  $29802321
14    15          DeMar DeRozan\derozde01  SAS  $27739975  $27739975
15    16              Chris Bosh\boshch01  MIA  $26837720        NaN
16    17            Otto Porter\porteot01  CHI  $26011913  $27250576
17    18           Jrue Holiday\holidjr01  NOP  $25976111  $26131111
18    19            CJ McCollum\mccolcj01  POR  $25759766  $27556959
19    20        Carmelo Anthony\anthoca01  ATL  $25534253        NaN
20    21         Andrew Wiggins\wiggian01  MIN  $25467250  $27270000
21    22            Joel Embiid\embiijo01  PHI  $25467250  $27270000
22    23            Bradley Beal\bealbr01  WAS  $25434263  $27093019
23    24          Anthony Davis\davisan02  NOP  $25434263  $27093019
24    25         Andre Drummond\drumman01  DET  $25434263  $27093019
25    26       Hassan Whiteside\whiteha01  MIA  $25434263  $27093018
26    27           Nikola Jokic\jokicni01  DEN  $24605181  $26573595
27    28           Steven Adams\adamsst01  OKC  $24157304  $25842697
28    29  Giannis Antetokounmpo\antetgi01  MIL  $24157304  $25842697
29    30              Kevin Love\loveke01  CLE  $24119025  $28900000
..   ...                              ...  ...        ...        ...
518  519              Ben Moore\moorebe01  IND    $160096        NaN
519  520          Troy Williams\willitr02  HOU    $122741    $122741
520  521            Jodie Meeks\meeksjo01  TOR    $120904        NaN
521  522           Tyler Zeller\zellety01  ATL    $105192        NaN
522  523           John Jenkins\jenkijo01  NYK     $99290        NaN
523  524           John Jenkins\jenkijo01  NYK     $97635        NaN
524  525           John Jenkins\jenkijo01  WAS     $97635        NaN
525  526          Isaiah Canaan\canaais01  MIL     $97635        NaN
526  527       Cameron Reynolds\reynoca01  MIN     $93164        NaN
527  528            Mitch Creek\creekmi01  BRK     $93164        NaN
528  529      Demetrius Jackson\jacksde01  BOS     $92857     $92857
529  530         Henry Ellenson\ellenhe01  NYK     $84034        NaN
530  531            Gary Payton\paytoga02  WAS     $84034        NaN
531  532          Scotty Hopson\hopsosc01  OKC     $84034        NaN
532  533           Kobi Simmons\simmoko01  CLE     $74966        NaN
533  534     Shaquille Harrison\harrish01  PHO     $50000        NaN
534  535           Garlon Green\greenga02  NOP     $50000        NaN
535  536           Ray Spalding\spaldra01  PHO     $46582        NaN
536  537          Emanuel Terry\terryem01  PHO     $46582        NaN
537  538        Richard Solomon\solomri01  OKC     $46582        NaN
538  539          Emanuel Terry\terryem01  MIA     $46582        NaN
539  540          Stephan Hicks\hicksst01  IND     $46582        NaN
540  541          Chris Chiozza\chiozch01  HOU     $46582        NaN
541  542         Tahjere McCall\mccalta01  BRK     $46582        NaN
542  543          Jordan Sibert\siberjo01  ATL     $46582        NaN
543  544           B.J. Johnson\johnsbj01  ATL     $46582        NaN
544  545          Emanuel Terry\terryem01  DEN     $35000        NaN
545  546          Troy Williams\willitr02  NOP     $34183        NaN
546  547          Terry Larrier\larrite01  DAL      $6000        NaN
547  548         Ding Yanyuhang\yanyudi01  DAL      $4737        NaN

       2020-21    2021-22    2022-23  2023-24     Signed Using  Guaranteed
0    $43006362  $45780966        NaN      NaN      Bird Rights  $166476240
1    $41358814  $44211146        NaN      NaN              NaN  $159730592
2    $41006000  $43848000  $46662000      NaN      Bird Rights  $158686150
3    $39219565  $41002273        NaN      NaN              NaN  $113310573
4    $36595996  $38957028        NaN      NaN      Bird Rights  $102919892
5    $34187085        NaN        NaN      NaN        Cap space   $63914985
6          NaN        NaN        NaN      NaN      Bird Rights   $64496296
7    $35450412  $37895268        NaN      NaN   Maximum Salary   $99016668
8    $34504132        NaN        NaN      NaN        Cap Space   $85459122
9    $40824000  $43848000  $46872000      NaN      Bird Rights  $152903854
10         NaN        NaN        NaN      NaN              NaN   $30000000
11         NaN        NaN        NaN      NaN        Cap space   $29730769
12         NaN        NaN        NaN      NaN        Cap Space   $28928710
13   $31626953        NaN        NaN      NaN   1st Round Pick   $89406963
14   $27739975        NaN        NaN      NaN        Cap Space   $55479950
15         NaN        NaN        NaN      NaN              NaN   $26837720
16   $28489239        NaN        NaN      NaN      Bird Rights   $53262489
17   $26131111  $27020000        NaN      NaN      Bird Rights   $78238333
18   $29354152        NaN        NaN      NaN   1st Round Pick   $82670877
19         NaN        NaN        NaN      NaN              NaN   $25534253
20   $29290000  $31310000  $33330000      NaN   1st Round Pick  $146667250
21   $29290000  $31310000  $33330000      NaN   1st Round Pick   $25467250
22   $28751775        NaN        NaN      NaN        Cap Space   $81279057
23   $28751775        NaN        NaN      NaN   1st Round Pick   $52527282
24   $28751775        NaN        NaN      NaN        Cap Space   $52527282
25         NaN        NaN        NaN      NaN        Cap Space   $25434263
26   $28542009  $30510423  $32478837      NaN              NaN  $142710045
27   $27528090        NaN        NaN      NaN   1st Round Pick   $77528091
28   $27528090        NaN        NaN      NaN   1st Round Pick   $77528091
29   $31300000  $31300000  $28900000      NaN      Bird Rights  $144519025
..         ...        ...        ...      ...              ...         ...
518        NaN        NaN        NaN      NaN              NaN     $160096
519    $122741    $122741    $122741      NaN              NaN     $613705
520        NaN        NaN        NaN      NaN              NaN     $120904
521        NaN        NaN        NaN      NaN  10-Day Contract     $105192
522        NaN        NaN        NaN      NaN              NaN     $196925
523        NaN        NaN        NaN      NaN              NaN     $196925
524        NaN        NaN        NaN      NaN              NaN      $97635
525        NaN        NaN        NaN      NaN              NaN      $97635
526        NaN        NaN        NaN      NaN  10-Day Contract      $93164
527        NaN        NaN        NaN      NaN              NaN      $93164
528     $92857     $92857     $92857      NaN              NaN     $557142
529        NaN        NaN        NaN      NaN              NaN     $425865
530        NaN        NaN        NaN      NaN              NaN      $84034
531        NaN        NaN        NaN      NaN              NaN      $84034
532        NaN        NaN        NaN      NaN              NaN      $74966
533        NaN        NaN        NaN      NaN              NaN      $50000
534        NaN        NaN        NaN      NaN              NaN      $50000
535        NaN        NaN        NaN      NaN              NaN     $231328
536        NaN        NaN        NaN      NaN              NaN      $46582
537        NaN        NaN        NaN      NaN              NaN      $46582
538        NaN        NaN        NaN      NaN              NaN      $46582
539        NaN        NaN        NaN      NaN              NaN      $46582
540        NaN        NaN        NaN      NaN              NaN      $46582
541        NaN        NaN        NaN      NaN              NaN      $46582
542        NaN        NaN        NaN      NaN              NaN      $46582
543        NaN        NaN        NaN      NaN  10-Day Contract      $46582
544        NaN        NaN        NaN      NaN              NaN      $35000
545        NaN        NaN        NaN      NaN              NaN      $34183
546        NaN        NaN        NaN      NaN              NaN       $6000
547        NaN        NaN        NaN      NaN              NaN       $4737

[548 rows x 11 columns]

In [53]:
df_contracts.head()

,Rk,Player,Tm,2018-19,2019-20,2020-21,2021-22,2022-23,2023-24,Signed Using,Guaranteed
0,1,Stephen Curry\curryst01,GSW,$37457154,$40231758,$43006362,$45780966,NaN,NaN,Bird Rights,$166476240
1,2,Chris Paul\paulch01,HOU,$35654150,$38506482,$41358814,$44211146,NaN,NaN,NaN,$159730592
2,3,Russell Westbrook\westbru01,OKC,$35654150,$38178000,$41006000,$43848000,$46662000,NaN,Bird Rights,$158686150
3,4,LeBron James\jamesle01,LAL,$35654150,$37436858,$39219565,$41002273,NaN,NaN,NaN,$113310573
4,5,Blake Griffin\griffbl01,DET,$32088932,$34234964,$36595996,$38957028,NaN,NaN,Bird Rights,$102919892

In [54]:
print(df_contracts.isnull().sum())

Rk                0
Player            0
Tm                0
2018-19           0
2019-20         247
2020-21         389
2021-22         473
2022-23         531
2023-24         548
Signed Using    187
Guaranteed        3
dtype: int64

## Change data type for columns in df_contracts

In [66]:
#view current data types of df_contracts
print(df_contracts.dtypes)

Rk                int64
Player           object
Tm               object
2018-19          object
2019-20          object
2020-21          object
2021-22          object
2022-23          object
2023-24         float64
Signed Using     object
Guaranteed       object
dtype: object

In [67]:
#remove "$" from salary data for analysis purposes
df_contracts['2018-19'] = [x.strip('$') for x in df_contracts['2018-19']]

In [ ]:
df_contracts['2018-19'] = [x.strip('$') for x in df_contracts['2018-19']]

In [ ]:
df_contracts['2018-19'] = [x.strip('$') for x in df_contracts['2018-19']]

In [69]:
df_contracts['2019-20'] = [x.strip('$') for x in df_contracts['2019-20']],
df_contracts['2020-21'] = [x.strip('$') for x in df_contracts['2020-21']],
df_contracts['2021-22'] = [x.strip('$') for x in df_contracts['2021-22']],
df_contracts['2022-23'] = [x.strip('$') for x in df_contracts['2022-23']],
df_contracts['Guaranteed'] = [x.strip('$') for x in df_contracts['Guaranteed']]

AttributeError: 'float' object has no attribute 'strip'

In [70]:
print(df_contracts)

      Rk                           Player   Tm   2018-19    2019-20  \
0      1          Stephen Curry\curryst01  GSW  37457154  $40231758
1      2              Chris Paul\paulch01  HOU  35654150  $38506482
2      3      Russell Westbrook\westbru01  OKC  35654150  $38178000
3      4           LeBron James\jamesle01  LAL  35654150  $37436858
4      5          Blake Griffin\griffbl01  DET  32088932  $34234964
5      6         Gordon Hayward\haywago01  BOS  31214295  $32700690
6      7             Kyle Lowry\lowryky01  TOR  31200000  $33296296
7      8            Paul George\georgpa01  OKC  30560700  $33005556
8      9            Mike Conley\conlemi01  MEM  30521116  $32511623
9     10           James Harden\hardeja01  HOU  30431854  $37800000
10    11           Kevin Durant\duranke01  GSW  30000000  $31500000
11    12           Paul Millsap\millspa01  DEN  29730769  $30500000
12    13             Al Horford\horfoal01  BOS  28928710  $30123015
13    14         Damian Lillard\lillada01  POR  27977689  $29802321
14    15          DeMar DeRozan\derozde01  SAS  27739975  $27739975
15    16              Chris Bosh\boshch01  MIA  26837720        NaN
16    17            Otto Porter\porteot01  CHI  26011913  $27250576
17    18           Jrue Holiday\holidjr01  NOP  25976111  $26131111
18    19            CJ McCollum\mccolcj01  POR  25759766  $27556959
19    20        Carmelo Anthony\anthoca01  ATL  25534253        NaN
20    21         Andrew Wiggins\wiggian01  MIN  25467250  $27270000
21    22            Joel Embiid\embiijo01  PHI  25467250  $27270000
22    23            Bradley Beal\bealbr01  WAS  25434263  $27093019
23    24          Anthony Davis\davisan02  NOP  25434263  $27093019
24    25         Andre Drummond\drumman01  DET  25434263  $27093019
25    26       Hassan Whiteside\whiteha01  MIA  25434263  $27093018
26    27           Nikola Jokic\jokicni01  DEN  24605181  $26573595
27    28           Steven Adams\adamsst01  OKC  24157304  $25842697
28    29  Giannis Antetokounmpo\antetgi01  MIL  24157304  $25842697
29    30              Kevin Love\loveke01  CLE  24119025  $28900000
..   ...                              ...  ...       ...        ...
518  519              Ben Moore\moorebe01  IND    160096        NaN
519  520          Troy Williams\willitr02  HOU    122741    $122741
520  521            Jodie Meeks\meeksjo01  TOR    120904        NaN
521  522           Tyler Zeller\zellety01  ATL    105192        NaN
522  523           John Jenkins\jenkijo01  NYK     99290        NaN
523  524           John Jenkins\jenkijo01  NYK     97635        NaN
524  525           John Jenkins\jenkijo01  WAS     97635        NaN
525  526          Isaiah Canaan\canaais01  MIL     97635        NaN
526  527       Cameron Reynolds\reynoca01  MIN     93164        NaN
527  528            Mitch Creek\creekmi01  BRK     93164        NaN
528  529      Demetrius Jackson\jacksde01  BOS     92857     $92857
529  530         Henry Ellenson\ellenhe01  NYK     84034        NaN
530  531            Gary Payton\paytoga02  WAS     84034        NaN
531  532          Scotty Hopson\hopsosc01  OKC     84034        NaN
532  533           Kobi Simmons\simmoko01  CLE     74966        NaN
533  534     Shaquille Harrison\harrish01  PHO     50000        NaN
534  535           Garlon Green\greenga02  NOP     50000        NaN
535  536           Ray Spalding\spaldra01  PHO     46582        NaN
536  537          Emanuel Terry\terryem01  PHO     46582        NaN
537  538        Richard Solomon\solomri01  OKC     46582        NaN
538  539          Emanuel Terry\terryem01  MIA     46582        NaN
539  540          Stephan Hicks\hicksst01  IND     46582        NaN
540  541          Chris Chiozza\chiozch01  HOU     46582        NaN
541  542         Tahjere McCall\mccalta01  BRK     46582        NaN
542  543          Jordan Sibert\siberjo01  ATL     46582        NaN
543  544           B.J. Johnson\johnsbj01  ATL     46582        NaN
544  545          Emanuel Terry\terryem01  DEN     35000        NaN
545  546          Troy Williams\willitr02  NOP     34183        NaN
546  547          Terry Larrier\larrite01  DAL      6000        NaN
547  548         Ding Yanyuhang\yanyudi01  DAL      4737        NaN

       2020-21    2021-22    2022-23  2023-24     Signed Using  Guaranteed
0    $43006362  $45780966        NaN      NaN      Bird Rights  $166476240
1    $41358814  $44211146        NaN      NaN              NaN  $159730592
2    $41006000  $43848000  $46662000      NaN      Bird Rights  $158686150
3    $39219565  $41002273        NaN      NaN              NaN  $113310573
4    $36595996  $38957028        NaN      NaN      Bird Rights  $102919892
5    $34187085        NaN        NaN      NaN        Cap space   $63914985
6          NaN        NaN        NaN      NaN      Bird Rights   $64496296
7    $35450412  $37895268        NaN      NaN   Maximum Salary   $99016668
8    $34504132        NaN        NaN      NaN        Cap Space   $85459122
9    $40824000  $43848000  $46872000      NaN      Bird Rights  $152903854
10         NaN        NaN        NaN      NaN              NaN   $30000000
11         NaN        NaN        NaN      NaN        Cap space   $29730769
12         NaN        NaN        NaN      NaN        Cap Space   $28928710
13   $31626953        NaN        NaN      NaN   1st Round Pick   $89406963
14   $27739975        NaN        NaN      NaN        Cap Space   $55479950
15         NaN        NaN        NaN      NaN              NaN   $26837720
16   $28489239        NaN        NaN      NaN      Bird Rights   $53262489
17   $26131111  $27020000        NaN      NaN      Bird Rights   $78238333
18   $29354152        NaN        NaN      NaN   1st Round Pick   $82670877
19         NaN        NaN        NaN      NaN              NaN   $25534253
20   $29290000  $31310000  $33330000      NaN   1st Round Pick  $146667250
21   $29290000  $31310000  $33330000      NaN   1st Round Pick   $25467250
22   $28751775        NaN        NaN      NaN        Cap Space   $81279057
23   $28751775        NaN        NaN      NaN   1st Round Pick   $52527282
24   $28751775        NaN        NaN      NaN        Cap Space   $52527282
25         NaN        NaN        NaN      NaN        Cap Space   $25434263
26   $28542009  $30510423  $32478837      NaN              NaN  $142710045
27   $27528090        NaN        NaN      NaN   1st Round Pick   $77528091
28   $27528090        NaN        NaN      NaN   1st Round Pick   $77528091
29   $31300000  $31300000  $28900000      NaN      Bird Rights  $144519025
..         ...        ...        ...      ...              ...         ...
518        NaN        NaN        NaN      NaN              NaN     $160096
519    $122741    $122741    $122741      NaN              NaN     $613705
520        NaN        NaN        NaN      NaN              NaN     $120904
521        NaN        NaN        NaN      NaN  10-Day Contract     $105192
522        NaN        NaN        NaN      NaN              NaN     $196925
523        NaN        NaN        NaN      NaN              NaN     $196925
524        NaN        NaN        NaN      NaN              NaN      $97635
525        NaN        NaN        NaN      NaN              NaN      $97635
526        NaN        NaN        NaN      NaN  10-Day Contract      $93164
527        NaN        NaN        NaN      NaN              NaN      $93164
528     $92857     $92857     $92857      NaN              NaN     $557142
529        NaN        NaN        NaN      NaN              NaN     $425865
530        NaN        NaN        NaN      NaN              NaN      $84034
531        NaN        NaN        NaN      NaN              NaN      $84034
532        NaN        NaN        NaN      NaN              NaN      $74966
533        NaN        NaN        NaN      NaN              NaN      $50000
534        NaN        NaN        NaN      NaN              NaN      $50000
535        NaN        NaN        NaN      NaN              NaN     $231328
536        NaN        NaN        NaN      NaN              NaN      $46582
537        NaN        NaN        NaN      NaN              NaN      $46582
538        NaN        NaN        NaN      NaN              NaN      $46582
539        NaN        NaN        NaN      NaN              NaN      $46582
540        NaN        NaN        NaN      NaN              NaN      $46582
541        NaN        NaN        NaN      NaN              NaN      $46582
542        NaN        NaN        NaN      NaN              NaN      $46582
543        NaN        NaN        NaN      NaN  10-Day Contract      $46582
544        NaN        NaN        NaN      NaN              NaN      $35000
545        NaN        NaN        NaN      NaN              NaN      $34183
546        NaN        NaN        NaN      NaN              NaN       $6000
547        NaN        NaN        NaN      NaN              NaN       $4737

[548 rows x 11 columns]

In [56]:
#convert column 2018-19 to numeric
df_contracts["2018-19"] = df_contracts["2018-19"].apply(pd.to_numeric)

ValueError: Unable to parse string "$37457154" at position 0

In [58]:
#remove header rows from df_contracts