# NBA Player Value based on Win-Shares and Salary

In [1]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#create df from downloaded csv of NBA player stats
df = pd.read_csv('D:\dudad\Documents\Data Science Career Track\Data Wrangling for Capstone 1\player_stats.csv')
print(df)

      Rk                  Player Pos  Age   Tm   G    MP   PER    TS%   3PAr  \
0      1            Alex Abrines  SG   25  OKC  31   588   6.3  0.507  0.809
1      2              Quincy Acy  PF   28  PHO  10   123   2.9  0.379  0.833
2      3            Jaylen Adams  PG   22  ATL  15   102   9.1  0.523  0.696
3      4            Steven Adams   C   25  OKC  60  2028  19.1  0.606  0.002
4      5             Bam Adebayo   C   21  MIA  62  1378  17.0  0.612  0.028
5      6               Deng Adel  SF   21  CLE  12   158   2.2  0.405  0.667
6      7  DeVaughn Akoon-Purcell  SG   25  DEN   7    22   8.3  0.322  0.400
7      8       LaMarcus Aldridge   C   33  SAS  63  2058  22.6  0.569  0.025
8      9            Rawle Alkins  SG   21  CHI   3     6  37.9  0.375  0.250
9     10           Grayson Allen  SG   23  UTA  29   286   4.0  0.446  0.631
10    11           Jarrett Allen   C   20  BRK  63  1683  18.6  0.622  0.087
11    12            Kadeem Allen  SG   26  NYK  10   225  17.2  0.578  0.211
12    13         Al-Farouq Aminu  PF   28  POR  62  1790  13.6  0.581  0.490
13    14         Justin Anderson  SF   25  ATL  33   254   8.6  0.468  0.460
14    15           Kyle Anderson  SF   25  MEM  43  1281  12.9  0.569  0.123
15    16           Ryan Anderson  PF   30  TOT  19   294   5.1  0.437  0.569
16    16           Ryan Anderson  PF   30  PHO  15   278   4.6  0.423  0.567
17    16           Ryan Anderson  PF   30  MIA   4    16  13.3  0.595  0.600
18    17            Ike Anigbogu   C   20  IND   3     6  -6.0  0.000  0.000
19    18   Giannis Antetokounmpo  PF   24  MIL  58  1915  30.3  0.637  0.144
20    19         Carmelo Anthony  PF   34  HOU  10   294  11.0  0.513  0.529
21    20              OG Anunoby  SF   21  TOR  52  1050   9.3  0.531  0.509
22    21        Ryan Arcidiacono  PG   24  CHI  62  1535  10.5  0.588  0.640
23    22            Trevor Ariza  SF   33  TOT  58  2054  11.8  0.526  0.589
24    22            Trevor Ariza  SF   33  PHO  26   884  10.6  0.525  0.612
25    22            Trevor Ariza  SF   33  WAS  32  1170  12.7  0.527  0.577
26    23           D.J. Augustin  PG   31  ORL  63  1733  15.5  0.629  0.479
27    24           Deandre Ayton   C   20  PHO  58  1794  21.1  0.617  0.006
28    25            Dwayne Bacon  SG   23  CHO  25   265  11.8  0.622  0.298
29    26           Marvin Bagley  PF   19  SAC  47  1165  18.2  0.566  0.127
..   ...                     ...  ..  ...  ...  ..   ...   ...    ...    ...
625  480           Yuta Watanabe  SG   24  MEM  10    98   7.0  0.448  0.321
626  481            Thomas Welsh   C   22  DEN   9    33  13.6  0.643  0.700
627  482       Russell Westbrook  PG   30  OKC  54  1929  20.6  0.492  0.253
628  483           Derrick White  PG   24  SAS  49  1242  14.8  0.573  0.259
629  484             Okaro White  PF   26  WAS   3     6  -4.5  0.000  1.000
630  485        Hassan Whiteside   C   29  MIA  53  1346  22.5  0.547  0.030
631  486          Andrew Wiggins  SF   23  MIN  56  1954  11.8  0.480  0.287
632  487           Alan Williams  PF   26  BRK   3    17  25.0  0.512  0.125
633  488           C.J. Williams  SG   28  MIN   9    67   2.1  0.441  0.412
634  489      Johnathan Williams   C   23  LAL   7    89  10.3  0.518  0.000
635  490        Kenrich Williams  SF   24  NOP  29   573   9.3  0.504  0.537
636  491            Lou Williams  SG   32  LAC  58  1534  21.2  0.552  0.255
637  492         Marvin Williams  PF   32  CHO  61  1746  13.0  0.558  0.596
638  493         Robert Williams   C   21  BOS  26   221  19.8  0.740  0.000
639  494           Troy Williams  SF   24  SAC  18   286  11.1  0.550  0.471
640  495             D.J. Wilson  PF   22  MIL  32   572   9.7  0.508  0.513
641  496         Justise Winslow  PF   22  MIA  55  1633  12.7  0.511  0.344
642  497          Christian Wood  PF   23  MIL  13    62  17.2  0.585  0.200
643  498            Delon Wright  PG   26  TOT  57  1112  13.8  0.515  0.310
644  498            Delon Wright  PG   26  TOR  49   897  14.6  0.527  0.307
645  498            Delon Wright  PG   26  MEM   8   215  10.3  0.464  0.323
646  499      Guerschon Yabusele  PF   23  BOS  31   173  11.8  0.507  0.358
647  500              Nick Young  SG   33  DEN   4    37   2.4  0.500  0.889
648  501          Thaddeus Young  PF   30  IND  64  1946  16.8  0.572  0.152
649  502              Trae Young  PG   20  ATL  63  1953  15.6  0.534  0.389
650  503             Cody Zeller   C   26  CHO  45  1147  17.6  0.623  0.068
651  504              Ante Zizic   C   22  CLE  45   775  15.7  0.578  0.000
652  505             Ivica Zubac   C   21  TOT  41   671  19.0  0.606  0.000
653  505             Ivica Zubac   C   21  LAL  33   516  19.6  0.633  0.000
654  505             Ivica Zubac   C   21  LAC   8   155  17.1  0.517  0.000

     ...   Unnamed: 19  OWS  DWS    WS  WS/48  Unnamed: 24  OBPM  DBPM   BPM  \
0    ...           NaN  0.1  0.6   0.7  0.053          NaN  -2.4  -1.0  -3.4
1    ...           NaN -0.1  0.0  -0.1 -0.021          NaN  -5.7  -0.3  -6.0
2    ...           NaN  0.1  0.0   0.1  0.055          NaN  -2.2  -1.6  -3.8
3    ...           NaN  4.4  3.1   7.4  0.176          NaN   1.0   1.9   2.9
4    ...           NaN  2.4  2.2   4.7  0.162          NaN  -0.8   3.3   2.5
5    ...           NaN -0.2  0.0  -0.2 -0.065          NaN  -5.5  -1.7  -7.2
6    ...           NaN -0.1  0.0   0.0 -0.046          NaN  -4.2   0.5  -3.7
7    ...           NaN  4.8  1.9   6.7  0.156          NaN   1.2   0.1   1.3
8    ...           NaN  0.0  0.0   0.0  0.355          NaN  20.1   7.4  27.5
9    ...           NaN -0.4  0.2  -0.2 -0.034          NaN  -4.7  -3.3  -8.0
10   ...           NaN  3.4  2.4   5.8  0.166          NaN  -0.6   3.0   2.4
11   ...           NaN  0.5  0.1   0.6  0.137          NaN   1.2  -2.0  -0.8
12   ...           NaN  2.8  2.2   4.9  0.132          NaN   0.4   1.1   1.5
13   ...           NaN -0.2  0.2   0.0  0.000          NaN  -4.4  -1.0  -5.4
14   ...           NaN  0.8  2.0   2.8  0.107          NaN  -2.2   3.5   1.4
15   ...           NaN -0.2  0.0  -0.2 -0.031          NaN  -4.1  -2.2  -6.3
16   ...           NaN -0.2  0.0  -0.2 -0.038          NaN  -4.4  -2.1  -6.5
17   ...           NaN  0.0  0.0   0.0  0.100          NaN   1.2  -3.8  -2.6
18   ...           NaN -0.1  0.0  -0.1 -0.473          NaN -22.6   8.6 -13.9
19   ...           NaN  6.8  4.6  11.4  0.285          NaN   5.3   5.2  10.6
20   ...           NaN  0.1  0.2   0.2  0.040          NaN  -3.0  -3.4  -6.4
21   ...           NaN  0.2  1.2   1.4  0.062          NaN  -1.4  -0.2  -1.6
22   ...           NaN  2.0  0.8   2.8  0.088          NaN  -0.3  -0.9  -1.2
23   ...           NaN  0.8  1.2   2.0  0.046          NaN  -0.4  -0.2  -0.6
24   ...           NaN  0.2  0.5   0.7  0.036          NaN  -1.2   0.3  -0.9
25   ...           NaN  0.6  0.7   1.3  0.053          NaN   0.2  -0.5  -0.3
26   ...           NaN  4.0  1.3   5.2  0.145          NaN   1.7  -2.1  -0.4
27   ...           NaN  3.8  1.4   5.2  0.140          NaN   0.5   0.4   0.9
28   ...           NaN  0.3  0.1   0.4  0.078          NaN  -1.7  -2.6  -4.3
29   ...           NaN  1.4  1.3   2.7  0.110          NaN  -1.3  -0.1  -1.5
..   ...           ...  ...  ...   ...    ...          ...   ...   ...   ...
625  ...           NaN -0.1  0.1   0.0 -0.007          NaN  -7.3  -1.1  -8.4
626  ...           NaN  0.1  0.0   0.1  0.136          NaN   0.9  -4.0  -3.1
627  ...           NaN  0.6  3.8   4.4  0.110          NaN   1.6   4.2   5.8
628  ...           NaN  1.3  1.2   2.5  0.098          NaN   0.1   0.8   0.9
629  ...           NaN  0.0  0.0   0.0 -0.252          NaN -11.2  -8.2 -19.4
630  ...           NaN  1.4  3.1   4.5  0.160          NaN  -2.6   3.1   0.5
631  ...           NaN -0.7  1.2   0.5  0.012          NaN  -2.1  -1.2  -3.2
632  ...           NaN  0.0  0.0   0.1  0.195          NaN  -1.9   0.6  -1.3
633  ...           NaN -0.1  0.0  -0.1 -0.052          NaN  -5.2  -3.1  -8.3
634  ...           NaN  0.1  0.1   0.2  0.099          NaN  -2.3   0.7  -1.6
635  ...           NaN  0.2  0.4   0.6  0.052          NaN  -1.6   0.1  -1.5
636  ...           NaN  3.0  0.9   3.8  0.120          NaN   3.2  -2.7   0.5
637  ...           NaN  2.0  1.6   3.6  0.100          NaN   0.3   0.2   0.5
638  ...           NaN  0.5  0.5   1.0  0.213          NaN  -1.7   6.6   4.8
639  ...           NaN  0.2  0.3   0.5  0.079          NaN  -2.0   0.1  -1.9
640  ...           NaN  0.1  1.0   1.0  0.087          NaN  -2.9   1.3  -1.6
641  ...           NaN  0.2  1.9   2.2  0.064          NaN  -1.1   0.7  -0.4
642  ...           NaN  0.1  0.1   0.2  0.150          NaN  -3.3  -4.0  -7.3
643  ...           NaN  1.0  1.5   2.4  0.105          NaN  -0.8   1.1   0.4
644  ...           NaN  1.1  1.2   2.3  0.120          NaN  -0.1   1.1   1.1
645  ...           NaN -0.1  0.3   0.2  0.040          NaN  -3.7   1.0  -2.7
646  ...           NaN  0.0  0.3   0.3  0.083          NaN  -2.6   1.2  -1.4
647  ...           NaN  0.0  0.0   0.0 -0.020          NaN  -4.2  -2.8  -7.0
648  ...           NaN  2.7  3.3   6.0  0.147          NaN   1.0   2.2   3.2
649  ...           NaN  1.2  0.5   1.7  0.041          NaN   0.8  -3.1  -2.3
650  ...           NaN  2.6  1.2   3.8  0.161          NaN   0.7   1.7   2.4
651  ...           NaN  1.1  0.3   1.3  0.082          NaN  -2.4  -1.5  -3.9
652  ...           NaN  1.3  0.8   2.1  0.154          NaN  -1.5   0.5  -1.0
653  ...           NaN  1.2  0.6   1.8  0.167          NaN  -1.2   0.2  -1.0
654  ...           NaN  0.1  0.2   0.4  0.111          NaN  -2.6   1.6  -1.0

     VORP
0    -0.2
1    -0.1
2     0.0
3     2.5
4     1.6
5    -0.2
6     0.0
7     1.7
8     0.0
9    -0.4
10    1.8
11    0.1
12    1.6
13   -0.2
14    1.1
15   -0.3
16   -0.3
17    0.0
18    0.0
19    6.1
20   -0.3
21    0.1
22    0.3
23    0.7
24    0.2
25    0.5
26    0.7
27    1.3
28   -0.2
29    0.2
..    ...
625  -0.2
626   0.0
627   3.8
628   0.9
629   0.0
630   0.9
631  -0.6
632   0.0
633  -0.1
634   0.0
635   0.1
636   1.0
637   1.1
638   0.4
639   0.0
640   0.1
641   0.7
642  -0.1
643   0.7
644   0.7
645   0.0
646   0.0
647   0.0
648   2.6
649  -0.1
650   1.3
651  -0.4
652   0.2
653   0.1
654   0.0

[655 rows x 29 columns]

In [3]:
#examine the data
df.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Alex Abrines,SG,25,OKC,31,588,6.3,0.507,0.809,...,NaN,0.1,0.6,0.7,0.053,NaN,-2.4,-1.0,-3.4,-0.2
1,2,Quincy Acy,PF,28,PHO,10,123,2.9,0.379,0.833,...,NaN,-0.1,0.0,-0.1,-0.021,NaN,-5.7,-0.3,-6.0,-0.1
2,3,Jaylen Adams,PG,22,ATL,15,102,9.1,0.523,0.696,...,NaN,0.1,0.0,0.1,0.055,NaN,-2.2,-1.6,-3.8,0.0
3,4,Steven Adams,C,25,OKC,60,2028,19.1,0.606,0.002,...,NaN,4.4,3.1,7.4,0.176,NaN,1.0,1.9,2.9,2.5
4,5,Bam Adebayo,C,21,MIA,62,1378,17.0,0.612,0.028,...,NaN,2.4,2.2,4.7,0.162,NaN,-0.8,3.3,2.5,1.6

In [4]:
df.get_dtype_counts()

float64    22
int64       4
object      3
dtype: int64

In [5]:
list(df)

['Rk',
 'Player',
 'Pos',
 'Age',
 'Tm',
 'G',
 'MP',
 'PER',
 'TS%',
 '3PAr',
 'FTr',
 'ORB%',
 'DRB%',
 'TRB%',
 'AST%',
 'STL%',
 'BLK%',
 'TOV%',
 'USG%',
 'Unnamed: 19',
 'OWS',
 'DWS',
 'WS',
 'WS/48',
 'Unnamed: 24',
 'OBPM',
 'DBPM',
 'BPM',
 'VORP']

In [12]:
# Total missing values for each feature
print(df.isnull().sum())

Rk               0
Player           0
Pos              0
Age              0
Tm               0
G                0
MP               0
PER              0
TS%              7
3PAr             8
FTr              8
ORB%             0
DRB%             0
TRB%             0
AST%             0
STL%             0
BLK%             0
TOV%             6
USG%             0
Unnamed: 19    655
OWS              0
DWS              0
WS               0
WS/48            0
Unnamed: 24    655
OBPM             0
DBPM             0
BPM              0
VORP             0
dtype: int64

In [25]:
#changing data type of Player column in df
df['Player'] = df['Player'].astype(str)

In [26]:
#check Player column data type
print(print(df['Player']))

0                Alex Abrines
1                  Quincy Acy
2                Jaylen Adams
3                Steven Adams
4                 Bam Adebayo
5                   Deng Adel
6      DeVaughn Akoon-Purcell
7           LaMarcus Aldridge
8                Rawle Alkins
9               Grayson Allen
10              Jarrett Allen
11               Kadeem Allen
12            Al-Farouq Aminu
13            Justin Anderson
14              Kyle Anderson
15              Ryan Anderson
16              Ryan Anderson
17              Ryan Anderson
18               Ike Anigbogu
19      Giannis Antetokounmpo
20            Carmelo Anthony
21                 OG Anunoby
22           Ryan Arcidiacono
23               Trevor Ariza
24               Trevor Ariza
25               Trevor Ariza
26              D.J. Augustin
27              Deandre Ayton
28               Dwayne Bacon
29              Marvin Bagley
                ...
625             Yuta Watanabe
626              Thomas Welsh
627         Russell Westbrook
628             Derrick White
629               Okaro White
630          Hassan Whiteside
631            Andrew Wiggins
632             Alan Williams
633             C.J. Williams
634        Johnathan Williams
635          Kenrich Williams
636              Lou Williams
637           Marvin Williams
638           Robert Williams
639             Troy Williams
640               D.J. Wilson
641           Justise Winslow
642            Christian Wood
643              Delon Wright
644              Delon Wright
645              Delon Wright
646        Guerschon Yabusele
647                Nick Young
648            Thaddeus Young
649                Trae Young
650               Cody Zeller
651                Ante Zizic
652               Ivica Zubac
653               Ivica Zubac
654               Ivica Zubac
Name: Player, Length: 655, dtype: object
None

In [7]:
#create df_salary from nba player salaries data from Basketball Reference
df_salary = pd.read_csv('D:\dudad\Documents\Data Science Career Track\Data Wrangling for Capstone 1\player_salary.csv')
print(df_salary)

      Rk              Player   Tm       2018-19       2019-20       2020-21  \
0      1       Stephen Curry  GSW  $37,457,154   $40,231,758   $43,006,362
1      2          Chris Paul  HOU  $35,654,150   $38,506,482   $41,358,814
2      3   Russell Westbrook  OKC  $35,654,150   $38,178,000   $41,006,000
3      4        LeBron James  LAL  $35,654,150   $37,436,858   $39,219,565
4      5       Blake Griffin  DET  $32,088,932   $34,234,964   $36,595,996
5      6      Gordon Hayward  BOS  $31,214,295   $32,700,690   $34,187,085
6      7          Kyle Lowry  TOR  $31,200,000   $33,296,296            NaN
7      8         Paul George  OKC  $30,560,700   $33,005,556   $35,450,412
8      9         Mike Conley  MEM  $30,521,116   $32,511,623   $34,504,132
9     10        James Harden  HOU  $30,431,854   $37,800,000   $40,824,000
10    11        Kevin Durant  GSW  $30,000,000   $31,500,000            NaN
11    12        Paul Millsap  DEN  $29,730,769   $30,500,000            NaN
12    13          Al Horford  BOS  $28,928,710   $30,123,015            NaN
13    14      Damian Lillard  POR  $27,977,689   $29,802,321   $31,626,953
14    15       DeMar DeRozan  SAS  $27,739,975   $27,739,975   $27,739,975
15    16          Chris Bosh  MIA  $26,837,720            NaN           NaN
16    17         Otto Porter  CHI  $26,011,913   $27,250,576   $28,489,239
17    18        Jrue Holiday  NOP  $25,976,111   $26,131,111   $26,131,111
18    19         CJ McCollum  POR  $25,759,766   $27,556,959   $29,354,152
19    20     Carmelo Anthony  ATL  $25,534,253            NaN           NaN
20   NaN                 NaN  NaN        Salary           NaN           NaN
21    Rk              Player   Tm       2018-19       2019-20       2020-21
22    21      Andrew Wiggins  MIN  $25,467,250   $27,270,000   $29,290,000
23    22         Joel Embiid  PHI  $25,467,250   $27,270,000   $29,290,000
24    23        Bradley Beal  WAS  $25,434,263   $27,093,019   $28,751,775
25    24       Anthony Davis  NOP  $25,434,263   $27,093,019   $28,751,775
26    25      Andre Drummond  DET  $25,434,263   $27,093,019   $28,751,775
27    26    Hassan Whiteside  MIA  $25,434,263   $27,093,018            NaN
28    27        Nikola Jokic  DEN  $24,605,181   $26,573,595   $28,542,009
29    28        Steven Adams  OKC  $24,157,304   $25,842,697   $27,528,090
..   ...                 ...  ...           ...           ...           ...
502  459      Hamidou Diallo  OKC     $838,464    $1,416,852    $1,663,861
503  460    Keita Bates-Diop  MIN     $838,464    $1,416,852    $1,663,861
504  NaN                 NaN  NaN        Salary           NaN           NaN
505   Rk              Player   Tm       2018-19       2019-20       2020-21
506  461        Jevon Carter  MEM     $838,464    $1,416,852            NaN
507  462         Bruce Brown  DET     $838,464    $1,416,852    $1,663,861
508  463   Jarred Vanderbilt  DEN     $838,464    $1,663,861    $1,416,852
509  464        Khyri Thomas  DET     $838,464      $838,464    $1,663,861
510  465      Isaiah Briscoe  ORL     $838,464    $1,663,861      $838,464
511  466       Chimezie Metu  SAS     $838,464            NaN           NaN
512  467    Kenrich Williams  NOP     $838,464    $1,416,852            NaN
513  468       Alize Johnson  IND     $838,464    $1,416,852            NaN
514  469  Isaiah Hartenstein  HOU     $838,464    $1,416,852    $1,663,861
515  470        Ray Spalding  DAL     $838,464            NaN           NaN
516  471      Ryan Broekhoff  DAL     $838,464    $1,443,842            NaN
517  472      Brad Wanamaker  BOS     $838,464            NaN           NaN
518  473     Martell Webster  WAS     $833,333            NaN           NaN
519  474       Lorenzo Brown  TOR     $800,000            NaN           NaN
520  475       Patrick McCaw  TOR     $786,000            NaN           NaN
521  476          Jeremy Lin  TOR     $697,000            NaN           NaN
522  477        Cole Aldrich  MIN     $685,341      $685,340      $685,340
523  478      James Nunnally  MIN     $655,632            NaN           NaN
524  479      Carlos Delfino  LAC     $650,000            NaN           NaN
525  480     Markieff Morris  OKC     $573,295            NaN           NaN
526  NaN                 NaN  NaN        Salary           NaN           NaN
527   Rk              Player   Tm       2018-19       2019-20       2020-21
528  481        Caron Butler  SAC     $517,219            NaN           NaN
529  482             Zhou Qi  HOU     $506,134            NaN           NaN
530  483       Bruno Caboclo  MEM     $487,000    $1,845,301            NaN
531  484      Dakari Johnson  MEM     $459,414      $459,414      $459,414

          2021-22       2022-23  2023-24    Signed Using     Guaranteed
0    $45,780,966            NaN      NaN     Bird Rights  $166,476,240
1    $44,211,146            NaN      NaN             NaN  $159,730,592
2    $43,848,000   $46,662,000       NaN     Bird Rights  $158,686,150
3    $41,002,273            NaN      NaN             NaN  $113,310,573
4    $38,957,028            NaN      NaN     Bird Rights  $102,919,892
5             NaN           NaN      NaN       Cap space   $63,914,985
6             NaN           NaN      NaN     Bird Rights   $64,496,296
7    $37,895,268            NaN      NaN  Maximum Salary   $99,016,668
8             NaN           NaN      NaN       Cap Space   $85,459,122
9    $43,848,000   $46,872,000       NaN     Bird Rights  $152,903,854
10            NaN           NaN      NaN             NaN   $30,000,000
11            NaN           NaN      NaN       Cap space   $29,730,769
12            NaN           NaN      NaN       Cap Space   $28,928,710
13            NaN           NaN      NaN  1st Round Pick   $89,406,963
14            NaN           NaN      NaN       Cap Space   $55,479,950
15            NaN           NaN      NaN             NaN   $26,837,720
16            NaN           NaN      NaN     Bird Rights   $53,262,489
17   $27,020,000            NaN      NaN     Bird Rights   $78,238,333
18            NaN           NaN      NaN  1st Round Pick   $82,670,877
19            NaN           NaN      NaN             NaN   $25,534,253
20            NaN           NaN      NaN             NaN            NaN
21        2021-22       2022-23  2023-24    Signed Using     Guaranteed
22   $31,310,000   $33,330,000       NaN  1st Round Pick  $146,667,250
23   $31,310,000   $33,330,000       NaN  1st Round Pick   $25,467,250
24            NaN           NaN      NaN       Cap Space   $81,279,057
25            NaN           NaN      NaN  1st Round Pick   $52,527,282
26            NaN           NaN      NaN       Cap Space   $52,527,282
27            NaN           NaN      NaN       Cap Space   $25,434,263
28   $30,510,423   $32,478,837       NaN             NaN  $142,710,045
29            NaN           NaN      NaN  1st Round Pick   $77,528,091
..            ...           ...      ...             ...            ...
502           NaN           NaN      NaN             MLE    $2,255,316
503           NaN           NaN      NaN             MLE    $2,255,316
504           NaN           NaN      NaN             NaN            NaN
505       2021-22       2022-23  2023-24    Signed Using     Guaranteed
506           NaN           NaN      NaN  MInimum Salary    $2,255,316
507           NaN           NaN      NaN             MLE    $2,255,316
508           NaN           NaN      NaN             MLE    $2,255,316
509           NaN           NaN      NaN             MLE    $1,676,928
510           NaN           NaN      NaN             MLE    $1,338,464
511           NaN           NaN      NaN             MLE      $838,464
512           NaN           NaN      NaN  Minimum Salary      $838,464
513           NaN           NaN      NaN  Minimum Salary      $838,464
514           NaN           NaN      NaN             MLE      $838,464
515           NaN           NaN      NaN             NaN      $838,464
516           NaN           NaN      NaN             NaN      $838,464
517           NaN           NaN      NaN  Minimum Salary      $838,464
518           NaN           NaN      NaN             NaN      $833,333
519           NaN           NaN      NaN             NaN      $800,000
520           NaN           NaN      NaN             NaN      $786,000
521           NaN           NaN      NaN             NaN      $697,000
522           NaN           NaN      NaN             NaN    $2,056,021
523           NaN           NaN      NaN             NaN      $655,632
524           NaN           NaN      NaN             NaN      $650,000
525           NaN           NaN      NaN       Cap Space      $573,295
526           NaN           NaN      NaN             NaN            NaN
527       2021-22       2022-23  2023-24    Signed Using     Guaranteed
528           NaN           NaN      NaN             NaN      $517,219
529           NaN           NaN      NaN             NaN      $506,134
530           NaN           NaN      NaN             NaN      $667,158
531           NaN           NaN      NaN             NaN    $1,378,242

[532 rows x 11 columns]

In [8]:
df_salary.head()

,Rk,Player,Tm,2018-19,2019-20,2020-21,2021-22,2022-23,2023-24,Signed Using,Guaranteed
0,1,Stephen Curry,GSW,"$37,457,154","$40,231,758","$43,006,362","$45,780,966",NaN,NaN,Bird Rights,"$166,476,240"
1,2,Chris Paul,HOU,"$35,654,150","$38,506,482","$41,358,814","$44,211,146",NaN,NaN,NaN,"$159,730,592"
2,3,Russell Westbrook,OKC,"$35,654,150","$38,178,000","$41,006,000","$43,848,000","$46,662,000",NaN,Bird Rights,"$158,686,150"
3,4,LeBron James,LAL,"$35,654,150","$37,436,858","$39,219,565","$41,002,273",NaN,NaN,NaN,"$113,310,573"
4,5,Blake Griffin,DET,"$32,088,932","$34,234,964","$36,595,996","$38,957,028",NaN,NaN,Bird Rights,"$102,919,892"

In [11]:
# Total missing values for each feature
print(df_salary.isnull().sum())

Rk               24
Player           24
Tm               24
2018-19           0
2019-20         220
2020-21         353
2021-22         436
2022-23         494
2023-24         508
Signed Using    153
Guaranteed       27
dtype: int64

In [25]:
cols_stats = list(df.columns)

In [26]:
print(cols_stats)

['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'Unnamed: 19', 'OWS', 'DWS', 'WS', 'WS/48', 'Unnamed: 24', 'OBPM', 'DBPM', 'BPM', 'VORP']

In [27]:
cols_salary = list(df_salary.columns)

In [28]:
print(cols_salary)

['Rk', 'Player', 'Tm', '2018-19', '2019-20', '2020-21', '2021-22', '2022-23', '2023-24', 'Signed Using', 'Guaranteed']

In [29]:
df["WS"].mean()

1.6224427480916028

In [30]:
df["WS"].max()

11.4

In [31]:
df["WS"].min()

-1.6